<nav class="breadcrumb {$class ?? ''}" aria-label="breadcrumbs">
  <ul>
    {foreach $items as $item}
      <li><a href="{$item[0]}">{$item[1]}</a></li>
    {/foreach}
    <li class="is-active"><a href="#" aria-current="page">{$text ?? ''}</a></li>
  </ul>
</nav>