<section class="hero {{class}}">
    <div class="hero-body">
        <p class="title">
            {{title}}
        </p>
        <p class="subtitle">
            {{text}}
        </p>
    </div>
</section>