<nav class="navbar {{ class }}" role="navigation" aria-label="main navigation">
    
    {{ brand }}
  
    <div id="{{# burger_target }}{{ burger_target }}{{/ burger_target }}{{^ burger_target }}navbarBasic{{/ burger_target }}"
        class="navbar-menu">

        <div class="navbar-start">
            {{ start }}
        </div>
  
        <div class="navbar-end">
            {{ end }}
        </div>

    </div>
</nav>


