<progress class="progress {{# class }}{{ class }}{{/ class }}{{^ class }}is-info{{/ class }}"
    value="{{# text }}{{ text }}{{/ text }}{{^ text }}0{{/ text }}"
    max="100">{{# text }}{{ text }}{{/ text }}{{^ text }}0{{/ text }}%</progress>